body {
	/* Accent HSL values */
	--accent-h: 85;
	--accent-s: 55%;
	--accent-l: 45%;
	/* Window Frame */
	--titlebar-background: var(--background-secondary-alt);
	--titlebar-background-focused: var(--background-secondary);
	/* Inputs */
	--slider-track-background: var(--color-base-50);
	/* Graph */
	--graph-line: var(--color-base-40, var(--background-modifier-border-focus));
	/* Editor */
	--hr-color: var(--color-base-50);
	--hr-thickness: 3px;
	/* Spacing */
	--p-spacing: 0rem;
	--heading-spacing: 0.2rem;
	--metadata-padding: var(--size-4-4) 0;
	/* Lists */
	--list-indent: 1.5em;
	/* Backgrounds */
	--background-primary: var(--color-base-25);
	--background-primary-alt: var(--color-base-30);
	--background-secondary: var(--color-base-00);
	--background-secondary-alt: var(--color-base-10);
}

.theme-dark {
	color-scheme: dark;
	/* Editor */
	/* Headings */
	--h1-color: var(--color-red);
	--h2-color: var(--color-yellow);
	--h3-color: var(--color-cyan);
	/* Text */
	--italic-color: var(--color-yellow);
	--bold-color: var(--color-brown);

	/* Base Colors */
	/* --color-base-25: #2f2f2f; */
	/* Colors */
	--color-red: #ff8080;
	--color-cyan: rgb(129, 206, 216);
	--color-cyan-rgb: 129, 206, 216;
	--color-brown: rgb(220, 168, 115);
	--color-brown-rgb: 220, 168, 115;
	--color-offlink: hsl(85, 55%, 45%);
	--color-offlink-rgb: 125, 178, 52;
}

/* Custom Callouts */
.callout[data-callout="book"] {
	--callout-color: var(--color-brown-rgb);
	--callout-icon: lucide-book;
}

/* Igualar el edit mode con el read mode */
hr {
	margin: 0.7rem 0;
}

.list-bullet {
	padding-right: 0.55em;
}

/* Metadata Menu */
.view-content.fileclass-view-content {
	overflow: hidden;
}

/* Options */
.metadata-menu.fileclass-view .fv-table .options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.metadata-menu.fileclass-view .fv-table .options .fields {
	flex-wrap: nowrap;
	overflow: auto;
}

.metadata-menu.fileclass-view .fv-table .options .footer {
	order: -1;
	margin-right: 1em;
}

.metadata-menu.fileclass-view .fv-table .options .footer .cell button {
	margin-top: 0;
}

/* Dataview Tables */
.table-view-th,
.table-view-tbody>tr>td {
	background-color: var(--background-primary);
}

.metadata-menu-dv-field-container {
	inline-size: max-content;
}