body {
	/* Accent HSL values */
	--accent-h: 85;
	--accent-s: 55%;
	--accent-l: 45%;
	/* Window Frame */
	--titlebar-background: var(--background-secondary-alt);
	--titlebar-background-focused: var(--background-secondary);
	/* Inputs */
	--slider-track-background: var(--color-base-50);
	/* Graph */
	--graph-line: var(--color-base-40, var(--background-modifier-border-focus));
	/* Editor */
	--hr-color: var(--color-base-50);
	--hr-thickness: 3px;
	/* Spacing */
	--p-spacing: 0;
	--heading-spacing: 0;
	--metadata-padding: var(--size-4-4) 0;
	/* Lists */
	--list-indent: 1.5em;
	/* Backgrounds */
	--background-primary: var(--color-base-25);
	--background-primary-alt: var(--color-base-30);
	--background-secondary: var(--color-base-00);
	--background-secondary-alt: var(--color-base-10);
}

.theme-dark {
	color-scheme: dark;
	/* Editor */
	/* Headers */
	--h1-color: var(--color-red);
	--h2-color: var(--color-yellow);
	--h3-color: var(--color-cyan);
	/* Text */
	--italic-color: var(--color-yellow);
	--bold-color: var(--color-brown);
	--text-highlight-bg-rgb: var(--color-offlink-rgb);
	/* Base Colors */
	/* --color-base-25: #2f2f2f; */
	/* Colors */
	--color-red: #ff8080;
	--color-cyan: rgb(129, 206, 216);
	--color-cyan-rgb: 129, 206, 216;
	--color-brown: rgb(220, 168, 115);
	--color-brown-rgb: 220, 168, 115;
	--color-offlink: hsl(85, 55%, 45%);
	--color-offlink-rgb: 125, 178, 52;
}

/* Custom Callouts */
.callout {
	margin: 0;
}

.callout[data-callout="book"] {
	--callout-color: var(--color-brown-rgb);
	--callout-icon: lucide-book;
}

/* Match live preview mode with reading mode */
/* Text */
div.cm-contentContainer div.cm-lineWrapping {
	white-space: normal;
	word-break: normal;
	overflow-wrap: break-word;
}

/* Properties */
.metadata-container {
	margin-block-end: 0;
}

/* Headers */
h1,
.markdown-rendered h1,
h2,
.markdown-rendered h2,
h3,
.markdown-rendered h3 {
	padding-top: 0.12rem;
	display: inline-block;
}

.cm-s-obsidian .cm-line.HyperMD-header {
	padding-top: 0;
}

hr {
	margin: 0.7rem 0;
}

/* Code Blocks */
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
	padding-right: var(--size-4-4);
}

.markdown-rendered pre {
	margin: 0;
	padding: var(--size-4-5) var(--size-4-4);
}

.markdown-rendered code {
	display: block;
}

/* Bullet Points */
.list-bullet {
	padding-right: 0.6em;
}

.markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator {
	padding-right: 0.35rem;
}

/* Canvas */
.markdown-source-view.mod-inside-iframe>.cm-editor>.cm-scroller,
.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view {
	padding: 0 var(--size-4-5);
}

.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view::before,
.canvas-node-content.markdown-embed>.markdown-embed-content>.markdown-preview-view::after {
	min-height: min(calc(var(--canvas-node-height) * 0.1 - 3px), var(--size-4-4));
}

/* Plugins */
/* Admonition */
.is-live-preview .admonition-content p {
	margin: 0;
}

.is-live-preview .admonition-content:last-child {
	margin-bottom: 0;
}

.admonition-content-copy {
	margin: 0;
}

/* Metadata Menu */
.metadata-menu.modal-container.note-fields-modal .modal {
	max-width: calc(var(--dialog-width)*1.4);
}

.view-content.fileclass-view-content {
	overflow: hidden;
}

.metadata-menu.fileclass-view .fv-table .options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.metadata-menu.fileclass-view .fv-table .options .fields {
	flex-wrap: nowrap;
	overflow: auto;
}

.metadata-menu.fileclass-view .fv-table .options .footer {
	order: -1;
	margin-right: 1em;
}

.metadata-menu.fileclass-view .fv-table .options .footer .cell button,
.metadata-menu.fileclass-view .fv-table .options .footer .cell select {
	margin-top: 0;
}

/* Dataview Tables */
.table-view-th,
.table-view-tbody>tr>td {
	background-color: var(--background-primary);
}

.metadata-menu-dv-field-container {
	inline-size: max-content;
}